<!-- This script is used to display a single character for editing -->

{{log character}}
<div class="div-char" data-id="{{character.id}}">
  <form id="form-display-char" class="form-display-char" data-id="{{character.id}}">
    <input type="text" name="character[name]" value="{{character.name}}"><br>
    <label for="character[alignment]"><b>Alignment</b> </label><br>
    <select name="character[alignment]">
      <option value="LG">Lawful Good (LG)</option>
      <option value="NG">Neutral Good (NG)</option>
      <option value="CG">Chaotic Good (CG)</option>
      <option value="LN">Lawful Neutral (LN)</option>
      <option value="N">True Neutral (N)</option>
      <option value="CN">Chaotic Neutral (CN)</option>
      <option value="LE">Lawful Evil (LE)</option>
      <option value="NE">Neutral Evil (NE)</option>
      <option value="CE">Chaotic Evil (CE)</option>
    </select>
    <br>
    <label for="character[appearance]"><b>Appearance</b> </label><br>
    <textarea name="character[appearance]" rows=4>{{character.appearance}}</textarea><br>
    <label for="character[personality]"><b>Personality</b> </label><br>
    <textarea name="character[personality]" rows=4>{{character.personality}}</textarea><br>
    <label for="character[backstory]"><b>Backstory</b> </label><br>
    <textarea name="character[backstory]" rows=4>{{character.backstory}}</textarea><br>
    <button data-id="{{character.id}}" class="btn-delete" type="button">Delete</button>
    <button class="btn-save" type="submit">Save changes</button>
    <p class="p-status"></p>
  </form>
</div>
